
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    width: 50%;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #BFBFBF;
    padding: 20px;
}
.container input{
 border-left: 2px black outset;
 border-top: 2px black outset;
 border-bottom: 2px white inset;
 border-right:  2px white inset;
}