@font-face {
    font-family: mines;
    src: url(minecraft/Minecraft.ttf);
}

body{
    display: flex;
    margin:0; 
    font-family: mines;
    color: #585656;
    font-weight: bold;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-image: url(assets/mesadeencantamento.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 400px;
    margin-left: 65px;
    width: 400px;
    height: 200px;
    background-color: #CAC6C6;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.titulologin{
    display: flex;
    align-items: start;
    width: 100%;
    height: auto;

}
.login h3{
    align-self: flex-start;
    margin: 10px 10px;
    font-size: 25px;

}

.livrocominput{
    display: flex;
    width: 100%;
    justify-content: space-around;

}

.livro img{
    width: 100px;
    
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 40%;

}

button{
    margin-top: 20px;
    width: 250px;
    color: #8AF222;
    background-color: #A69677;
    text-shadow: 1px 1px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000;
    margin-bottom: 10px;
}

input{
    width: 100%;
    background-color: #A69677;
}

.xp h3{
    font-size: 15px;
    color: #8AF222;
    text-shadow: 1px 1px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000;
}