body{
    display: flex;
    background-repeat: no-repeat;
    background-position: 300px 300px 300px 300px;
    background-image: url(assets/mesadeencantamento.jpg);
    background-size: cover;
    margin: 0;
}