@font-face {
    font-family: mines;
    src: url(minecraft/Minecraft.ttf);
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botoes{
    display: flex;
    flex-direction: column;  
    align-items: center;
}
.botoes button{
    border: inset 4px black;
}
.botoes a{
    text-decoration:none;
}